# Created by .ignore support plugin (hsz.mobi)
admin/src/test/
admin/target/generated-sources/
dao/src/main/resources/
dao/src/test/
entity/src/main/resources/
entity/src/test/
mall/src/
pay/src/
.idea/
/mall-b/src/main/java/com/henglong/entity/