<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实名审核</title>
    <link rel="stylesheet" href="//layui.hcwl520.com.cn/layui-v2.4.5/css/layui.css?v=201811010202" media="all">
</head>
<body>
<div class="demoTable">
    搜索ID：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>

<table class="layui-hide" id="demo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">审核</a>
</script>


<blockquote class="layui-elem-quote layui-quote-nm layui-hide" id="footer">layui {{ layui.v }} 提供强力驱动</blockquote>

<script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script src="//layui.hcwl520.com.cn/layui-v2.4.5/layui.js?v=201811010202"></script>
<!--头像模板-->
<script type="text/html" id="imgUrl">
    {{# if(d.imgUrl != null){ }}
    <img src="{{d.imgUrl}}"/>
    {{# }  }}
</script>
<!--角色模板-->
<script type="text/html" id="com.s.entity.Roles">
    {{#  if(d.com.s.entity.Roles != null){ }}
    {{#  layui.each(d.com.s.entity.Roles, function(index, item){ }}
    <span>item</span>
    {{#  }); }}
    {{# } }}
</script>
<!--钱包模板-->
<script type="text/html" id="Wallet">
    {{# if(d.Wallet != null){ }}
    <span>{{ d.value }}</span>
    {{#  } }}
</script>
<!--地址模板-->
<script type="text/html" id="address">
    <ul>
        {{#  layui.each(d.address, function(index, item){ }}
        <li>{{ item.address }}</li>
        {{#  }); }}
    </ul>
</script>
<!--工具栏模板-->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    </div>
</script>
<script src="/js/userExamine.js"></script>
</body>
</html>